
.rightJustify {
  display: inline-block;
  font-size: 12px;
  list-style-position: inside;
  min-width: 15px;
  text-align: right;
}

.clue {
  border: none;
  height: 15px;
  margin-left: 10px;
  margin-top: 2px;
  resize: none;
  vertical-align: middle;
}

.clue-dropdown {
  margin-left: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.space-between {
  /*justify-content: space-between;*/
}

.mb5 {
  margin-bottom: 5px;
}

.minw350 {
  min-width: 350px;
}

.mt50 {
  margin-top: 50px;
}