
.rightJustify {
  display: inline-block;
  font-size: 12px;
  list-style-position: inside;
  min-width: 15px;
  text-align: right;
}

.clue {
  border: none;
  height: 15px;
  margin-left: 10px;
  margin-top: 2px;
  resize: none;
  vertical-align: middle;
}

.mb5 {
  margin-bottom: 5px;
}

.mt50 {
  margin-top: 50px;
}