
.printable {
	display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.clues {
  flex-direction: row;
}

.mt20 {
	margin-top: 20px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}
