
.printable {
	display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.title {
	border: 0;
	font-size: 26px;
	outline: none;
}

.centerHeader {
	text-align: center;
}

.centerTable {
  margin-left: auto;
  margin-right: auto;
}

.mt20 {
	margin-top: 20px;
}

.ml20 {
	margin-left: 20px;
}
