
.standard {
	border: 1px solid black;
	height: 30px;
	width: 30px;
}

.number {
	font-size: 10px;
	margin-left: 2px;
}

.hoverable:hover {
	cursor: pointer;
}

.highlighted {
	background: #DCDCDC;
}

.letterWithNumber {
	font-size: 18px;
	margin-top: -5px;
	text-align: center;
}
.letterWithNumber:focus {
	outline: none;
}

.letter {
	font-size: 18px;
  margin-top: 5px;
	text-align: center;
}
.letter:focus {
	outline: none;
}

.blank {
	background-color: black;
	border: 1px solid black;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}