
.standard {
	border: 1px solid black;
	height: 25px;
	width: 25px;
}

.number {
	font-size: 8px;
	margin-left: 2px;
}

.letterWithNumber {
	font-size: 18px;
	margin-top: -5px;
	text-align: center;
}
.letterWithNumber:focus {
	outline: none;
}

.letter {
	font-size: 18px;
  margin-top: 5px;
	text-align: center;
}
.letter:focus {
	outline: none;
}

.blank {
	background-color: black;
	border: 1px solid black;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 25px;
}