
.printable {
	display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.centerHeader {
	text-align: center;
}

.centerTable {
  margin-left: auto;
  margin-right: auto;
}

.mt20 {
	margin-top: 20px;
}
