.flex {
  display: flex;
}

.grid {
	border-collapse: collapse;
}

.tableCell {
	border-spacing: 0;
	padding: 0;
}

.dropdown {
  margin-left: 30px;
}

.dropdownMenu {
  position: absolute;
  top: 35px;
}