
.puzzle {
  flex-direction: column;
  /*min-width: 500px;*/
}

.title {
  border: 0;
  font-size: 26px;
  outline: none;
}

.centerHeader {
  text-align: center;
}

.centerTable {
  margin-left: auto;
  margin-right: auto;
}
